.container{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.imagecontainer{
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-image-width: 20px;
}
#logo1{
    background-color: white;
    border-radius: 50%;
    margin-top:none;
    height:72px;
    width: 72px;
    margin-left: 48%;
    text-align: center;
    font-size: 55px;
    color: red;
    margin-right: 20%;
}

.heading{
    text-align: center;
    margin-top: 50px;
    color: white;
    text-decoration-line: none;
    text-decoration-color: black;
    font-display: fallback;
    font-size: 39px;
    font-family: poppins;
    text-emphasis-color: currentColor
}
.text{
    margin-left: 45%;
    margin-top: 8%;
    font-size: 17px;
    margin-right: none;
    position: absolute;
}
.selector{
    margin-top:8%;
    margin-left:25%;
    font-size: 20px;
    position: absolute;   
}

.whole{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 45px;

}
.st1{
    font-size: 30px;
    font-style: normal;
}
.st2{
    font-size: 20px;
    font-style: normal;
}
.tilecontainer{
    width: 3%;
    height: 10%;
    background-color: white;
    box-shadow: 0 1px 15px darkgrey;
    margin-bottom: 80px;
}
.tilecop1{
float: left;
    width: 50%;
}
.tilecop2{
    float: right;
    width: 50%;
}
.copheading1{
    font-size: 30px;
}
.copheading2{
    font-size: 20px;
}
